a
{
    color: var(--color-foreground);
}

label
{
    color: var(--color-foreground);
}

form
{
    display: block grid;
}

.input
{
    border: solid 1px var(--color-muted-foreground);
    border-radius: var(--radius-sm);
    font-size: var(--text-sm);
    font-weight: var(--font-weight-extralight);
    padding-inline: --spacing(2);
    height: --spacing(8);
    line-height: --spacing(8);
}

.input::placeholder
{
    color: var(--color-muted-foreground);
}